#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}
main {
  width: 50rem;
  /* background-color: red; */
  /* border: 1px solid rebeccapurple; */
  padding-top: 4rem;
  
}
.curiosity {
    font-style: oblique;
  }
h5 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.name {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin: 1rem 0 0 0;
}
.title {
  font-weight: 900;
  display: block;
}
.latest-works{
  width: 100%;
  /* display: flex; */
}

.works-line {
width: 100%;
/* border: solid; */
display: flex;
padding: 0;
}
.latest-work-cards {
  
  border: 1px solid rgba(255, 255, 255, 0.239);
  width: 45%;
  height: 190px;
  border-radius: 20px;
  margin: 2.5%;
  /* margin-bottom: 0; */

  transition: 0.4s ease;
}
.latest-work-more-card {
  display: flex;
  align-items: center; 
  justify-content: center;

  border: 1px solid rgba(255, 255, 255, 0.239);
  width: 45%;
  height: 100px;
  border-radius: 20px;
  margin: 2.5%;

  height: 190px;
  color: #646cff;

  transition: 0.4s ease;
}

.latest-work-cards:hover {
  scale: 1.05;
}
.latest-work-more-card:hover{
  scale: 1.05;
  color: #535bf2;

}

