#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}
main {
  width: 50rem;
  /* background-color: red; */
  /* border: 1px solid rebeccapurple; */
  padding-top: 4rem;
}
.curiosity {
    font-style: oblique;
  }
h5 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.name {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin: 1rem 0 0 0;
}
.title {
  font-weight: 900;
  display: block;
}
.latest-works{
  width: 100%;
  /* display: flex; */
}

.works-line {
width: 100%;
/* border: solid; */
display: flex;
padding: 0;
}
.latest-work-cards {
  
  border: 1px solid rgba(255, 255, 255, 0.239);
  width: 45%;
  height: 190px;
  border-radius: 20px;
  margin: 2.5%;
  /* margin-bottom: 0; */
}
.latest-work-more-card {
  display: flex;
  align-items: center; 
  justify-content: center;

  border: 1px solid rgba(255, 255, 255, 0.239);
  width: 45%;
  height: 100px;
  border-radius: 20px;
  margin: 2.5%;

  height: 190px;
}

.latest-work-cards:hover {
  scale: 1.5;
}

.uni {
  width: 100%;
  /* border: solid; */
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0;
}

.uni-icon {
  /* border: solid; */
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: white;
}

.uni-mid {
  /* border: solid; */
  width: 70%;
  height: 4rem;
}

.uni-year {
  /* border: solid; */
  width: 8rem;
  margin: 0.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.628);
}
.uni-icon img {
  max-height:100%; max-width:100%;
}
